.portfolio-container{
    margin: 4rem 2rem;
    position: relative;
}
.portfolio-container::after,
.portfolio-container::before{
    content: " ";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}
.portfolio-container::after{
    top: -3rem;
    left: -5rem;
}
.portfolio-container::before{
    background: #9e51b9;
    bottom: 0rem;
    right: 0rem;
}
.portfolio-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}